body {
    background-color: #A5E1BF
}

.card {
    border: none
}

.image {
    position: relative;
}

.image span {
    background-color: #A5E1BF;
    color: #fff;
    padding: 1px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -0px;
    right: 0px
}

.user-details h4 {
    color: #A5E1BF
}

.ratings {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: left;
    align-items: center;
    color: black
}

.user-details span {
    text-align: left
}

.inputs label {
    display: flex;
    margin-left: 3px;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 4px
}

.inputs input {
    font-size: 14px;
    height: 40px;
    border: 2px solid #ced4da
}

.inputs input:focus {
    box-shadow: none;
    border: 2px solid #EAE027
}

.about-inputs label {
    display: flex;
    margin-left: 3px;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 4px
}

.about-inputs textarea {
    font-size: 14px;
    height: 100px;
    border: 2px solid #ced4da;
    resize: none;
    padding-left: 50px;

}

.about-inputs textarea:focus {
    box-shadow: none;
    padding-left: 50px;

}

.btn {
    font-weight: 600;
    padding-left: 50px;
    padding: auto;

}

.btn:focus {
    box-shadow: none;
    padding-left: 10px;
    
}