
  @media (min-width: 576px) {
    .tempaltemo-carousel .h1 { font-size: 1em !important;}
  }
  
  /*// Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {max-width: 450px;}
   }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    #templatemo_main_nav .navbar-nav {max-width: 550px;}
    #template-mo-jassa-hero-carousel .carousel-item {min-height: 30rem !important;}
    .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
    .product-wap .product-color-dot {
      width: 12px;
      height: 12px;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #bdbdbd;
    background-size: cover;
    background-attachment: fixed;
}

/* Footer */
#tempaltemo_footer a { color: #68bb7d;}
#tempaltemo_footer a:hover { color: #68bb7d;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #68bb7d;
  transition: .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}
* {
    box-sizing: border-box;
}
.avatar {
  text-align: center;
  margin: 24px 0 12px 0;
}

.contenedor {
  padding: 15px;
  background: #fff;
  margin-top: 150px;
  width: 100%;

}

.img {
  width: 30%;
  border-radius: 50%;
}

.contenedor-formulario {
    color: #4f4f4f;
    margin-bottom: 15px;

  }

.input[type=text], .input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 8px auto;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  
}

.btnInicio,  .btnRegistrar{
  border-radius: 8px;
  background: #419e6a;
  color: #fff;
  border: none;
  width: 100%;
  padding: 15px 20px;
  font-size: 20px;
}


button:hover {
    opacity: 0.8;
  }

  /* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 768px) {
    .contenedor{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
  }