body{
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.error{
    
    width: 1250px;  
    height: 350px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
    
}

.logo{
    width: 235px;
    height: 235px;
    justify-content: left;
    padding: 15px;

}

p{
   
    font-family: Roboto;
    font-size: 40px;
    color: #000000;
    padding: 55px;
}


h1{
    
    font-family: Roboto;
    font-size: 25px;
    color: #002987;
    text-align: center;
    padding: 30px;
}

.boton{
 align-items: center;
 text-align: center;
 justify-content: center;
}

h2{
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    color: #4D82F3;
    padding: 2px;
}

@media screen and (max-width:630px){
    h1{        
        font-size: 42px;        
    }
}

@media (min-width: 576px) {
    .tempaltemo-carousel .h1 { font-size: 1em !important;}
  }
  
  /*// Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {max-width: 450px;}
   }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    #templatemo_main_nav .navbar-nav {max-width: 550px;}
    #template-mo-jassa-hero-carousel .carousel-item {min-height: 30rem !important;}
    .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
    .product-wap .product-color-dot {
      width: 12px;
      height: 12px;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {}
  .form {
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(9, 30, 66, 0.31), 0px 8px 12px rgba(9, 30, 66, 0.15);
    border-radius: 20px;
}
